@charset "utf-8";
/* CSS Document */

body {
	font-family: 'Viaoda Libre', cursive;
}

header {
	background: #BBBBBB;
	padding: 20px 0;
}

.caixa {
	width: 940px;
	position: relative;
	margin: 0 auto auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
	
	
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-stretch: 22px;
	text-decoration: none;
}

/*muda a cor da fonte quando o mouse passa por cima */
nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li{
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.produtos li:hover {
	border-color: #C78C19;
}

/*Quando clicar com o mouse em cima muda de cor*/
.produtos li:active{
	border-color: #088C19;
}

.produtos li:hover h2 {
	font-size: 34px;
}
		
.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 18px;
}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

/*Exemplo de como colocar uma imagem de fundo/A imagem é de formato pequeno, o CSS copia e cola uma do lado da outra */
footer {
	text-align: center;
	background: url("bg.jpg");
	padding: 40px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin-top: 20px;
}


form {
	margin: 40px 0;
}

form label, form legend {
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin: 20px 0;
}	

.enviar {
	width: 40%;
	padding: 15px 0;
	background: orange;
	color: azure;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;/*para mudar a transição de cor*/
	cursor: pointer;/*Para mudar o ponteiro do mouse para a mãozinha*/
}

.enviar:hover {
	background: darkorange;
	transform: scale(1.2);/*Quando o mouse passa por cima aumentar 20%*//*rotate(70deg) -> Girar o elemento*/
}

table {
	margin: 20px 40px;
}

thead {
	background: pink;
	color: darkviolet;
	font-weight: bold; 
}

td, th {
	border: 1px solid #C00FC5;
	padding: 8px 15px; 
	color: deeppink;
}

/*css da página inicial*/
.banner {
	width: 100%;
}
  
.titulo-principal {
	text-align: center;
	font-size: 2em;/*essa medida é 2x maior que a medida padrão do texto -> por exemplo a medida padrão é 15 o dobro é 30*/
	margin:  0 0 1em;
	clear: left;/*limpa o float aplicado na imagem de utensilios*/
}

/*seleciona a primeira letra do titulo*/
.titulo-principal:first-letter {
	font-weight: bold;
}

/*cria um espaço onde pode-se utilizar o css antes do elemento*/
.titulo-principal:before{
	content: " ❧ "
}

/*cria espaço depois*/
.titulo-principal:after{
	content: " ❧ "
}

/*coloca a priemira linha de todos os paragrafos em italico*/
p:first-line {
	font-style: italic;
}

.principal {
	padding: 3em 0;
	width: 940px;
	margin: 0 auto;
	background: radial-gradient( mistyrose 15%, azure, cyan, deeppink);
}

.principal p {
	margin: 0 0 1em;
}

.principal strong {
	font-weight: bold;
}

.principal em {
	font-style: italic;
}

.utensilios {
	/*width: 120px;*/
	/*para calcular proporcionalmente o tamanho*/
	width: calc(40% - 26px);
	float: left;
	margin: 0 20px 20px 0;
}

.mapa {
	padding: 3em 0;
	background: linear-gradient(45deg, pink 25%, purple, aqua);
}

.mapa-conteudo{
	width: 940px;
	margin: 0 auto;
}

.mapa p {
	margin: 0 0 2em;
	text-align: center;
}

.beneficios {
	padding:  3em 0;
	background: #C965B5;
}

.conteudo-beneficios {
	width: 640px;
	margin: 0 auto;
}

.lista-beneficios {
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

.itens {
	line-height: 1.5;
}

/*Pega o primeiro filho -> last-child/ nth-child(o elento que quer o n ->numero); (2n)->pega os números pares*/
.itens:first-child {
	font-weight: bold;
}

.itens:before {
	content: "➻ ";
}

.imagem-beneficios {
	width: 60%;
}

.video {
	width: 560px;
	margin: 2em auto;
}

/*selecionar os filhos diretos*/
main > p {
	background: #6656F3;
}

/*selecionar o primeiro irmão*/
img + p {
	background: #38B3BA;
}

/*selecionar todos os paragrafo depois da imagem*/
img ~ p {
	background: #6AB42C;
}

/*excluir algo da seleção*/
.principal p:not(#missao){
	background: #ED314F;
}
